.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #96c9f3;
  padding: 10px;
  width: 90%;
  margin: auto;
  height: 600px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 10px;
  text-align: center;
}

/* body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: 20px;
  background: #1e1f20;
  color: #eee;
} */

h1 {
  font-weight: 300;
  margin: 0;
}

h2{
  margin: 0;
}

button {
  padding: 8px 16px;
  background: crimson;
  color: white;
  border: none;
  font-size: inherit;
  margin: 10px;
  cursor: pointer;
}

.animation { 
  display: block;
  border: 1px solid black;
  width:50%;
  min-height:100px;
  margin:auto;
  margin-top:10px;
}

.section{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.section-container{
  margin: 20px;
  border: black 1px solid;
  padding: 10px;
}

.reaction-board{
  /* left: 10px; */
  width: 70%;
  /* border: black 1px solid; */
}

.master-container{
  width: auto;
  margin-top: 20px;
  /* border: black 1px solid; */
}

.analytics-board{
    /* border: black 1px solid; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dashboard{
  display: flex;
  justify-content: space-evenly;
}

.class-mood{
  /* border: green 2px solid; */
  margin: 5px;
}

.class-responses{
  /* border: blue 2px solid; */
  margin: 5px;
}
